<div class="container">
    <img class="characterBanner" src="/images/charactersImage.png" alt="">
    <h1>Characters</h1>

    <hr>


    <div class="row">


        <div class="col-6" style="width: 18rem;">
            <img class="cImg" src="/images/jon.gif" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Jon Snow</p>
            </div>
        </div>

        <div class="col-6" style="width: 18rem;">
            <img class="cImg" src="/images/khal.gif" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Daenerys Targaryen</p>
            </div>
        </div>

        <div class="col-6" style="width: 18rem;">
            <img class="cImg" src="/images/tyr.gif" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Tyrion Lannister</p>
            </div>
        </div>

        <div class="col-6" style="width: 18rem;">
            <img class="cImg" src="/images/cersi.gif" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Cersei Lannister</p>
            </div>

        </div>

    </div>
</div>